@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  background:rgb(2, 2, 155) !important;
}

.container{
  padding: 0 20px;
  margin: 0 auto;
max-width: 1300px;
}

.header{
  position: sticky !important;
  top: 0;
  left: 0;
  z-index: 100;
}




@media (max-width: 400px) {
  title{
    font-size: 30px !important;
  }
}


.foto{
  height: 300px !important;
}


